body {
    background-color: #071b29;
    color: white;
    width:80%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

/* Header CSS*/
nav {
    display: flex;
}

.logo {
    font-size:32px;
}

nav ul {
    align-self: center;
    margin-left: auto;
}

nav li {
    display: inline-block;
    font-size: 22px;
    padding-left: 40px;
}

/* Navigation CSS*/
nav a {
    text-decoration: none;
    color: white;;
}

nav a:hover {
    color: gray;
}

nav a:visited{
    text-decoration: none;
    color:white;
}

nav a:active{
    text-decoration: none;
    color:white;
}

/* intro section*/

.intro {
    width: 85%;
    display:flex;
    gap:2rem;
    padding:2.5rem;
    margin:0 auto;
    border:1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px black
}

.intro h1 {
    font-size: 40px;
    margin-bottom:0;
}

.intro .jobtitle {
    font-size: 25px;
    margin-top:0px;
}

/* Projects section*/

.projects {
    display:flex;
    margin:0 auto;
    margin-top: 75px;
    width: 85%;
    height:500px;   
    border:1px solid black;
    border-radius: 20px;
    padding:30px;
    box-shadow: 10px 10px black
}

.column {
    float: left;
    width: 50%;
    margin: auto;
}

.photo {
    width: 100%;
    height: auto;
}

